header.site-masthead.container 
  .content

    .site-logo
      a(href="") Vanilla5
      
    nav
      ul.list-unstyled
        li
          a(href="") Nav Item 1
        li
          a(href="") Nav Item 2
        li
          a(href="") Nav Item 3
        li
          a(href="") Nav Item 4