@use "../helpers/mixins" as *;

@layer base {

/*
-----------------------------------------
BUTTONS
-----------------------------------------
*/

.button {
  --btn-bg: var(--primary);
  --btn-color: var(--white);
  --btn-padding: #{rem(12)} #{rem(32)};

  --btn-bg-hover: oklch(from var(--btn-bg) calc(l - 0.1) c h);
  --btn-color-hover: var(--white);

  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border: none;
  @include transition();
  -webkit-appearance: none;
  background: var(--btn-bg);
  border: rem(1) solid var(--btn-bg);
  color: var(--btn-color);
  text-decoration: none;
  padding: var(--btn-padding);
  text-align: center;
  width: auto;
  border-radius: var(--radius);
  font-size: rem(16);
  line-height: 1.4;
  gap: rem(10);

  &:hover,
  &:focus,
  &:active {
    background: var(--btn-bg-hover);
    border: rem(1) solid var(--btn-bg-hover);
    color: var(--btn-color-hover);
  }
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: rem(24);

  // Alignment

  &.align-center {
    justify-content: center;
  }

  &.align-right {
    justify-content: flex-end;
  }

  &.align-spaced {
    justify-content: space-between;
  }
}

.simple {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

} // end @layer base
