/*
-----------------------------------------
LAYOUT
-----------------------------------------
*/


/* Margin and Padding */
$baseSize: 0;

@while $baseSize <= 100 {
  .m-#{$baseSize},
  %m-#{$baseSize} {
    margin: #{$baseSize}px !important;
  }

  .mt-#{$baseSize},
  %mt-#{$baseSize} {
    margin-block-start: #{$baseSize}px;
  }

  .mr-#{$baseSize},
  %mr-#{$baseSize} {
    margin-inline-end: #{$baseSize}px;
  }

  .mb-#{$baseSize},
  %mb-#{$baseSize} {
    margin-block-end: #{$baseSize}px;
  }

  .ml-#{$baseSize},
  %ml-#{$baseSize} {
    margin-inline-start: #{$baseSize}px;
  }

  .mx-#{$baseSize},
  %mx-#{$baseSize} {
    margin-inline: #{$baseSize}px;
  }

  .my-#{$baseSize},
  %my-#{$baseSize} {
    margin-block: #{$baseSize}px;
  }

  .p-#{$baseSize},
  %p-#{$baseSize} {
    padding: #{$baseSize}px;
  }

  .pt-#{$baseSize},
  %pt-#{$baseSize} {
    padding-block-start: #{$baseSize}px;
  }

  .pr-#{$baseSize},
  %pr-#{$baseSize} {
    padding-inline-end: #{$baseSize}px;
  }

  .pb-#{$baseSize},
  %pb-#{$baseSize} {
    padding-block-end: #{$baseSize}px;
  }

  .pl-#{$baseSize},
  %pl-#{$baseSize} {
    padding-inline-start: #{$baseSize}px;
  }

  .px-#{$baseSize},
  %px-#{$baseSize} {
    padding-inline: #{$baseSize}px;
  }

  .py-#{$baseSize},
  %py-#{$baseSize} {
    padding-block: #{$baseSize}px;
  }

  // Increment the counter
  $baseSize: $baseSize + 4;
}


main {

}

.container {
  padding: 0 rem(20);
  background: var(--content-background);
}

.content {
  max-width: var(--site-width);
  margin: 0 auto;
  position: relative;
}