@use "../helpers/mixins" as *;

@layer base {

/*
-----------------------------------------
TYPOGRAPHY
-----------------------------------------
*/

a {
  color: var(--link-color);
  @include transition();

  &:hover,
  &:focus,
  &:active {
    color: var(--link-hover-color);
  }
}

p,
li {
  font-size: var(--base-font-size);
  line-height: 1.4em;
  font-weight: var(--normal);
  color: var(--text-color);
}

ol,
ul,
li,
p {
  margin-block-end: 1.2em;

  &:last-child {
    margin-block-end: 0;
  }
}

li {
  margin-block-end: rem(10);
}

ul,
ol {
  &:not(.list-unstyled) {
    margin-block-start: 0.5em;
    margin-inline-start: rem(20);
  }
}

small {
  font-size: 0.9em;
}

hr {
  border: 0;
  border-block-end: rem(1) solid var(--gray-20);
  margin-block: rem(24);
}

blockquote {
  margin: rem(20) 0;
  padding: rem(12) rem(16);
  border-inline-start: rem(4) solid var(--primary);
  background: color-mix(in srgb, var(--primary), var(--white) 92%);
  color: var(--text-color);
}

code,
pre,
kbd {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code {
  background: var(--gray-05);
  border: rem(1) solid var(--gray-20);
  border-radius: rem(4);
  padding: rem(2) rem(4);
  font-size: 0.95em;
}

pre {
  background: var(--gray-05);
  border: rem(1) solid var(--gray-20);
  border-radius: rem(6);
  padding: rem(12);
  overflow: auto;
  line-height: 1.5;

  code {
    background: transparent;
    border: 0;
    padding: 0;
  }
}

kbd {
  background: var(--gray-10);
  border: rem(1) solid var(--gray-30);
  border-bottom-width: rem(2);
  border-radius: rem(4);
  padding: rem(2) rem(6);
  font-size: 0.85em;
}

mark {
  background: color-mix(in srgb, var(--warn-10), var(--white) 70%);
  color: var(--text-color);
  padding: 0 rem(3);
}

/* Headers */

h1,
h2,
h3,
h4,
h5,
h6,
.text-header--1,
.text-header--2,
.text-header--3,
.text-header--4,
.text-header--5,
.text-header--6 {
  line-height: 1.4;
  font-weight: var(--normal);
  color: var(--text-color);
  margin-block-end: rem(10);
}

.text-header--1,
h1 {
  font-size: var(--h1-size);
}

.text-header--2,
h2 {
  font-size: var(--h2-size);
}

.text-header--3,
h3 {
  font-size: var(--h3-size);
}

.text-header--4,
h4 {
  font-size: var(--h4-size);
}

.text-header--5,
h5 {
  font-size: var(--h5-size);
}

.text-header--6,
h6 {
  font-size: var(--h6-size);
}

.text-white {
  color: white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  a,
  span,
  strong,
  em,
  small,
  blockquote {
    color: inherit;
  }
}

} // end @layer base
