@use "../helpers/mixins" as *;

@layer base {

/*
-----------------------------------------
TYPOGRAPHY
-----------------------------------------
*/

a {
  color: var(--link-color);
  @include transition();

  &:hover,
  &:focus,
  &:active {
    color: var(--link-hover-color);
  }
}

p,
li {
  font-size: var(--base-font-size);
  line-height: 1.4em;
  font-weight: var(--normal);
  color: var(--text-color);
}

ol,
ul,
li,
p {
  margin-block-end: 1.2em;

  &:last-child {
    margin-block-end: 0;
  }
}

li {
  margin-block-end: rem(10);
}

ul,
ol {
  &:not(.list-unstyled) {
    margin-block-start: 0.5em;
    margin-inline-start: rem(20);
  }
}

small {
  font-size: 0.9em;
}

/* Headers */

h1,
h2,
h3,
h4,
h5,
h6,
.text-header--1,
.text-header--2,
.text-header--3,
.text-header--4,
.text-header--5,
.text-header--6 {
  line-height: 1.4;
  font-weight: var(--normal);
  color: var(--text-color);
  margin-block-end: rem(10);
}

.text-header--1,
h1 {
  font-size: var(--h1-size);
}

.text-header--2,
h2 {
  font-size: var(--h2-size);
}

.text-header--3,
h3 {
  font-size: var(--h3-size);
}

.text-header--4,
h4 {
  font-size: var(--h4-size);
}

.text-header--5,
h5 {
  font-size: var(--h5-size);
}

.text-header--6,
h6 {
  font-size: var(--h6-size);
}

.text-white {
  color: white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  a,
  span,
  strong,
  em,
  small,
  blockquote {
    color: inherit;
  }
}

} // end @layer base
