@use "../helpers/mixins" as *;

@layer base {

/*
-----------------------------------------
WIDTHS
-----------------------------------------
*/

:root {
  --site-width: 1200px;
  --radius: 4px;
}


/*
-----------------------------------------
COLORS
-----------------------------------------
*/

:root {

  --primary:                oklch(45.73% 0.30601 264.179);

  // NEUTRAL
  --white:                  oklch(100.00% 0.0000 0.00);
  --gray-05:                oklch(96.72% 0.0000 0.00);
  --gray-10:                oklch(92.49% 0.0000 0.00);
  --gray-20:                oklch(84.52% 0.0000 0.00);
  --gray-30:                oklch(76.68% 0.0000 0.00);
  --gray-40:                oklch(76.68% 0.0000 0.00);
  --gray-50:                oklch(59.99% 0.0000 0.00);
  --gray-60:                oklch(51.03% 0.0000 0.00);
  --gray-70:                oklch(42.02% 0.0000 0.00);
  --gray-80:                oklch(32.11% 0.0000 0.00);
  --gray-90:                oklch(21.78% 0.0000 0.00);
  --black:                  oklch(0.00% 0.0000 0.00);

  // System Colors

  --info-05:                oklch(97.20% 0.0188 222.39);
  --info-10:                oklch(78.01% 0.0714 223.29);
  --info-20:                oklch(66.13% 0.1087 228.39);
  --info-50:                oklch(55.48% 0.1065 231.71);
  --info-80:                oklch(45.37% 0.0942 233.41);

  --success-05:             oklch(97.56% 0.0368 156.66);
  --success-10:             oklch(82.63% 0.1387 152.71);
  --success-20:             oklch(65.34% 0.1423 150.88);
  --success-50:             oklch(54.41% 0.1586 147.05);
  --success-80:             oklch(44.84% 0.1192 148.68);

  --warn-05:                oklch(96.88% 0.0269 78.20);
  --warn-10:                oklch(83.53% 0.1138 74.46);
  --warn-20:                oklch(69.87% 0.1573 63.92);
  --warn-50:                oklch(60.43% 0.1307 66.25);
  --warn-80:                oklch(49.62% 0.1042 70.39);

  --error-05:               oklch(95.60% 0.0217 17.27);
  --error-10:               oklch(76.43% 0.1259 17.96);
  --error-20:               oklch(65.44% 0.1947 22.23);
  --error-50:               oklch(56.03% 0.2101 26.19);
  --error-80:               oklch(47.15% 0.1904 28.16);

  --error:                  var(--error-50);
  --warn:                   var(--warn-50);
  --success:                var(--success-50);
  --info:                   var(--info-50);

  --base-color:             var(--white);
  --content-background:     var(--white);

  // Text
  --text-color:             var(--gray-80);
  --link-color:             var(--primary);


  // User Select (colors when a user selects objects on screen)
  --select-background:      var(--primary);
  --select-text:            var(--white);

  // Placeholder
  --placeholder-color:      var(--gray-30);
}



/*
-----------------------------------------
FONTS
-----------------------------------------
*/

// Font Family
:root {
  --font: "Brooklyn", "Helvetica Neue", Arial, sans-serif;

  --normal: 400;
  --semi: 600;
  --bold: 700;

  --base-font-size-strip: 16;
  --base-font-size: var(--base-font-size-strip) * 1px;

  --h1-size: #{rem(48)};
  --h2-size: #{rem(40)};
  --h3-size: #{rem(33)};
  --h4-size: #{rem(28)};
  --h5-size: #{rem(20)};
  --h6-size: #{rem(18)};
}

$font-size: 16px; // This is a SCSS variable for the mixin function


/*
-----------------------------------------
BREAKPOINTS
-----------------------------------------
*/

$breakpoints: (
  "desktop-wide": 1248px,
  "desktop": 1024px,
  "desktop-small": 992px,
  "tablet-wide": 850px,
  "tablet": 768px,
  "tablet-small": 720px,
  "phone-wide": 600px,
  "phone": 480px,
  "phone-small": 400px,
);

@mixin mq($width, $type: ">=") {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
  }
  // For the future
  // @media only screen and (width #{$type} $width) {
  //   @content;
  // }

  @if $type == ">=" {
    @media only screen and (min-width: $width) {
      @content;
    }
  } @else if $type == "<=" {
    @media only screen and (max-width: $width) {
      @content;
    }
  } @else if $type == ">" {
    @media only screen and (min-width: $width + 1px) {
      @content;
    }
  } @else if $type == "<" {
    @media only screen and (max-width: $width - 1px) {
      @content;
    }
  }
}

@mixin container($width, $containerName: "", $type: ">=") {
  $widthValue: null;

  // Check if the width is a key in the breakpoints map and get the corresponding value
  @if map_has_key($breakpoints, $width) {
    $widthValue: map_get($breakpoints, $width);
  } @else {
    $widthValue: $width;
  }

  // For the future
  // @container #{$containerName} (width #{$type} #{$width}) {
  //   @content;
  // }

  @if $type == ">=" {
    @container #{$containerName} (min-width: #{$widthValue}) {
      @content;
    }
  } @else if $type == "<=" {
    @container #{$containerName} (max-width: #{$widthValue}) {
      @content;
    }
  } @else if $type == ">" {
    @container #{$containerName} (min-width: #{($widthValue + 1px)}) {
      @content;
    }
  } @else if $type == "<" {
    @container #{$containerName} (max-width: #{($widthValue + 1px)}) {
      @content;
    }
  }
}

} // end @layer base
